<!DOCTYPE html>
<html>
    <head>
        <title>Update this Stylist's clients</title>
    </head>
    <body>
        <div class="container">
            <form action="/client/{{ client.getId }}/update" method="post">

                <input type="hidden" name="_method" value="patch">

                <label for="client_name">Update your Client's name</label>
                <input type="client_name" name="client_name" type="text">

                <button type="submit">Update</button>
            </form>

            <form  action="/client/{{ client.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">

                <button type="submit">Delete!</button>

            </form>
            <a href="/">Home</a>
        </div>

    </body>
</html>
