<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
    </head>
    <body>
        <h1>Add your Stylist</h1>

        {% for stylist in stylists %}
        <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName() }}</a></li>
        {% endfor %}
        <br/>

        <form action="/stylists" method="post">
            <label for="name">Add stylist's name</label>
            <input id="name" name="name" type="text">
            <button type="submit">Add Stylist!</button>
        </form>

        <form action="/delete_stylists" method="post">
          <button type='submit'>Clear</button>
        </form>

    </body>
</html>
