<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit your Stylist</title>
    </head>
    <body>
        <div class="container">
            <h1>Edit Stylist: {{ stylist.getName }}</h1>

            <form action="/stylists/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="new_name">Edit your Stylist's name:</label>
                <input id="new_name" name="new_name" type="text">

                <button type="submit">Update</button>
            </form>

            <form action="/stylist/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Delete!</button>

            </form>

        </div>

    </body>
</html>
