<!DOCTYPE html>
<html>
    <head>
        <title>Edit your Stylist</title>
    </head>
    <body>
        <div class="container">
            <h1>Edit Stylist: {{ stylist.getName }}</h1>

            <form action="/stylists/{{ stylist.getId }}/update" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="name">Edit your Stylist's name:</label>
                <input id="name" name="name" class = "form-control" type="text">

                <button type="submit">Update</button>
            </form>

            <form action="/stylists/{{ stylist.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Delete!</button>

            </form>

        </div>

    </body>
</html>
